domain_name:

smtp_host:
smtp_port:
smtp_auth_required:
smtp_user:
smtp_password:
smtp_from_email:
smtp_destination:
do_token:

postgres_password:

github_username:
github_repositories:
    - "{{ github_username }}/cartogram-web"
    - "{{ github_username }}/cartogram-docker"
    - "mgastner/cartogram-cpp"