#!/bin/bash

# Download the latest cartogram binary release
wget -O /home/cartogram/cartogram-docker/cartogram-web/internal/lambda_package/cartogram https://github.com/Wind1337/cartogram-cpp/releases/latest/download/cartogram

# Give it execute permissions
chmod +x /home/cartogram/cartogram-docker/cartogram-web/internal/lambda_package/cartogram