#!/bin/bash

# Fetch the latest release information from GitHub API
release_info=$(curl -s https://api.github.com/repos/Wind1337/cartogram-cpp/releases/latest)

# Extract the release tag name
release_tag=$(echo $release_info | jq -r '.tag_name')

# Download the latest cartogram binary release
wget -O /home/cartogram/cartogram-docker/cartogram-web/internal/lambda_package/cartogram https://github.com/Wind1337/cartogram-cpp/releases/download/$release_tag/cartogram

# Give it execute permissions
chmod +x /home/cartogram/cartogram-docker/cartogram-web/internal/lambda_package/cartogram

# Save the release tag to a file for tracking
echo $release_tag > /home/cartogram/cartogram-docker/cartogram-web/internal/lambda_package/CARTOGRAM_VERSION